[Unit]
Description=Octopub Products Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

Type=simple

WorkingDirectory=/opt/octopub-products
ExecStart=java -jar octopub-products-runner.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target